*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Verdana;
    text-align: center;
}
.inicio {
    background-color: #03989E;
    color: white;
    padding-bottom: 20px;
    font-size: 26px;

}
.inicio p {
    font-size:  22px;
}

.inicio img {
    height: 20%;
    width: 30%;
}
.general{
    width: 100%;
    padding-top: 10px;
    justify-content: space-around;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-flow: wrap;

}
.logo{
    width: 120px;
    float: left;
    margin-left: 20px;

}
.icono{
    width: 40px;
    float: left;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 48px;
}
.logo_img{
    width: 116px;
}
.info{
    margin-left: 5px;
    margin-right: 5px;
    width: 25%;
    height: 380px;
    background-color: white;
    margin: 20px;
    color: #03989E;
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    float: left;

}
.info>p{
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 10px;
}
.info>img{
    width: 70px;
    height: 70px;
}
.info_top{
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: 2px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Verdana;
    font-weight: bold;
    color: #03989E;
    margin-bottom: 8px;
}
.slogan_visuales{
    font-family: Verdana;
    font-weight: bold;
    font-size: 20px;
    margin-top: 105px;
    margin-bottom: 80px;
}
.img_sloggan{
	background-image: url(img/olimpiadas_2.PNG);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 40px;
    width: 100%;
    height: 250px;
    display: revert;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-family: Verdana;
}
.img_sloggan a{
    color: black;
    font-family: Verdana;
}


.dineros{
    margin-left: 5px;
    margin-right: 5px;
    width: 25%;
    height: 150px;
    background-color: white;
    margin: 20px;
    color: #03989E;
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    margin-bottom: 20px;
} 
.dineros_top{
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: 2px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Verdana;
    font-weight: bold;
    color: #03989E;
    margin-bottom: 5px;
}
.planes{
    width: 100%;
    height: 60px;
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
    display: flex;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
} 
.planes:hover {
    background-color: white;
    color: #03989E;
}

.nosotros{
    width: 80%;
    height: 350px;
    background-color: white;
    margin: 20px;
    color: #03989E;
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    float: left;
}
.general_testo{
    width: 100%;
    justify-content: space-around;
    display: flex;
    text-align: center;
}
.info_testo{
    margin-left: 5px;
    margin-right: 5px;
    width: 80%;
    background-color: white;
    margin: 20px;
    text-align: center;
    font-family: Verdana;
}

.nosotros img{
    width: 400px;
}
@media screen and (max-width: 555px) {
    .info{
        width: 100%;
    }

}
@media screen and (max-width: 650px) {
    .info{
        width: 60%;
    }

}
@media screen and (max-width: 873px) {
    .dineros{
        width: 80%;
    }
}
@media screen and (max-width: 1400px){
    .nosotros{
        width: 100%;
    }
}


/*-------------------------------------------------
MENU 
-------------------------------------------------*/

nav{
    background: #03989E;
    height: 140px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
nav ul{
    float: right;
    margin-top: 40px;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    background: #03989E;
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: white;
    color: #03989E;
    transition: .6s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media screen  and (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
     nav ul li a{
        font-size: 16px;
    }
}

@media screen and (max-width: 858px){
    .checkbtn{
        display: block;
        margin-top: 35px;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #03989E;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav ul li a:hover, nav ul li a.active{
        background: white;
        color: #03989E;
    }
    #check:checked ~ ul{
        left:0;
    }
}


/*-------------------------------------------------
CONTACTO 
-------------------------------------------------*/


.img_contacto{
    background-image: url(img/assistant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Verdana;
}

.contacto{
    font-size: 20px;
    margin: 20px;
    color: #03989E;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Verdana;

}

.top_contacto{
    font-size: 22px;
    margin-right: 20%;
    margin-left: 20%;
    border-bottom: 2px solid black;
    font-family: Verdana;
    font-weight: bold;
    color: black;
    margin-bottom: 8px;
}

.info_contacto{
    text-align:justify ;
    margin-right: 20%;
    margin-left: 20%;
    color: black;
    font-family: Verdana;
    font-weight: bold;

}

.boton { 
        justify-content: center;
        text-decoration: none; 
        padding: 25px; 
        font-weight: 1000; 
        font-size: 22px; 
        color: #ffffff; 
        background-color: #03989E; 
        border-radius: 10px;
        transition: all 1500ms  }

.boton:hover {color: #03989E;background-color: #d9d9d9;}

/*-------------------------------------------------
FORMULARIO 
-------------------------------------------------*/

.h1 h1 {
    font-weight: 600;
    font-size: 72px;
    color: #03989E;
    text-align: center;
}

.h4 h4 {
    font-weight: 400;
    font-size: 20px;
    color: black;
    line-height: 1.5;
}

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color: #03989E;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #03989E;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

textarea {
  height: 150px;}

[type="submit"] {
  width: 100%;
  background:#03989E;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="reset"] {
  width: 60%;
  background:white;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:#ff9999;
  font-size:14px;
  padding-top:10px;
  padding-bottom:10px;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover {color: #03989E;background-color: white;}


/*-------------------------------------------------
POLITICA Y PRIVACIDAD 
-------------------------------------------------*/

.img_politica{
    background-image: url(img/politica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Verdana;
}

.img_politica p{
    font-size: 20px;
    padding: 40px;
}

.CONDICIONES {
    padding-top: 10px;
    text-align: left;
}

.POLITICA {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}
@media screen and (max-height: 2555px) {
    .img_politica {
    font-weight: 100;
    padding: 12px 0;
    font-weight: 100;
}


/*-------------------------------------------------
SERVICIOS
-------------------------------------------------*/

.img_servicios{
    background-image: url(img/run.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Verdana;
}


.servicios{
    font-size: 20px;
    margin: 20px;
    color: #03989E;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Verdana;

}

.tabla-servicios {
    display: flex;
    align-items: center;
    justify-content: center;
}

.precios-servicios {
    background-color: white;
    flex: 1;
    padding: 0 30px 30px;
    margin: 2%;
    min-width: 250px;
    max-width: 350px;
}

.precios-servicios h5 {
    font-size: 45px;
}

.precios-servicios p{
    margin: 24px 0;
    font-size: 30px;
    font-weight: 900;
}

.listaServicios {
    padding: 0;
    list-style-type: none;
}

.listaServicios li {
    font-weight: 100;
    padding: 12px 0;
    font-weight: 100;
}


.botonServicios {
    border-radius: 25px;
    border: none;
    background-color: #03989E;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 20px;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
}

.botonServicios:hover {
    background-color: #05dae1;
    color: white; }
